- require_relative '../calc/credit_type'

/ :loan_term, :loan_amount, :monthly_fee, :type_id
.content-fluid
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-4
      form.form-horizontal role="form" action="/credit" method="post" data-remote="true"
        .form-group
          label.col-sm-6.col-xs-12.control-label[for="credit[quantity]"] Сумма кредита ($)
          .col-sm-6.col-xs-12
            input.form-control type="text" name="credit[loan_amount]" value="10000"
            .has_error data-target='loan_amount'
              .help-block
        .form-group
          label.col-sm-6.col-xs-12.control-label[for="credit[type_id]"] Тип кредита
          .col-sm-6.col-xs-12
            select.form-control name="credit[type_id]"
              - CreditType.all.each do |type|
                option[value=type.id]
                  = type.name
        .form-group
          label.col-sm-6.col-xs-12.control-label[for="credit[quantity]"] Процентная ставка
          .col-sm-6.col-xs-12
            input.form-control type="text" name="credit[yearly_fee]" value="15"
            .help-block % годовых
            .has_error data-target='loan_amount'
              .help-block
        .form-group
          label.col-sm-6.col-xs-12.control-label[for="credit[quantity]"] Срок кредитования
          .col-sm-6.col-xs-12
            input.form-control type="number" min='1' name="credit[loan_term]" value="12"
            .help-block месяцев
            .has_error data-target='loan_amount'
              .help-block
        .form-group
          .col-sm-6.col-xs-12.col-sm-offset-6
            input.form-control.btn.btn-success type="submit" value='Рассчитать кредит' 
