doctype html
html
  head
    title Кредитный калькулятор
    meta name="viewport" content="width=device-width"
    link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"
    link rel="icon" href="/favicon.ico" type="image/x-icon"

    == css :application
  body
  
    == yield
    == js :application
