- require_relative '../calc/credit_type'

.container
  .row.result-container
    .close-btn
      button type="button" class="close"
        span aria-hidden="true" &times;
        span class="sr-only" Close
    - if @errors.empty?
      .summary
        h3 Итоговый результат:
        table
          tr
            th К оплате:
            td
              = "%0.2f" % @result[:payment]
              |$
          tr
            th Переплата:
            td
              = "%0.2f" % @result[:overpaid]
              |$

      .pay-log
        h3 Статистика платежей:
        table.table-bordered
          tr
            th №
            th Общая сумма
            th Оплата кредита
            th Оплата процентной ставки
            th Остаток кредита
          - @result[:payment_list].each_with_index do |item, index|
            tr
              th = index + 1
              td = "%0.2f" % item[:payment]
              td = "%0.2f" % item[:debt_payment]
              td = "%0.2f" % item[:interest_payment]
              td = "%0.2f" % item[:debt]
    - else
      .error
        h3 Форма заполнена с ошибками
        p Проверьте правильность введенных данных.

