
.result-container {
  margin: 10pt;
  padding: 5px;
  h3 { margin-top: 0; }
  background: #F9F9F9;
  border: 1px solid #EEE;

  .summary {
    table {
      margin-left: 20px;
      td {
        padding-left: 5px;
      }
    }
  }

  .pay-log {
    margin-top: 10pt;
    th {
      padding-right: 3px;
      padding-left: 3px;
      text-align: right;
    }
    td {
      text-align: right;
      padding-left: 3px;
      padding-right: 6px;
    }
  }

  .close-btn{
    float: right;
    margin: -5px -2px 0px 0px;
  }
}
